{% extends 'root.html' %}
{% load static %}

{% block js %}
    <script src="{% static 'js/ajax_search.js' %}"></script>
{% endblock %}

{% block content %}
    <div>
        <p>Текущая страница: {{request.path}}</p>
        <p>Search:</p>
        <form action="." method="get">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="search-btn" type="submit" value="Найти!">
        </form>
    </div>
    <div>
        <ul class="ajax-list">

        </ul>
        <p class="error-message"></p>
    </div>
{% endblock %}